#lightboxModal > div.lightbox-modal-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    color: rgb(0,0,0);
    font-weight: 400;
    font-size: 1.0rem;
    transition: all 0.3s ease;
    justify-content: center;
    font-family: "Source Sans Pro", ui-sans-serif, "system-ui", sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    background-color: black; 
    width: auto;
    height: auto;
    padding: 0.75rem 0rem 1.5em 0rem;
}

#lightboxModal > div.lightbox-modal-overlay span.header-title {
    font-weight: 600;
    color: #fff;

}

#lightboxModal > div.lightbox-modal-overlay span.prompt-tag {
    color: #ddd;
}
#lightboxModal > div.lightbox-modal-overlay span.prompt-tag:hover {
    color: #fff;
    transition: all 0.1s ease;

}

#lightboxModal > div.lightbox-modal-overlay p.prompt-contents {
    font-weight: 400;
    color: #fff;
    user-select: text;
    cursor: text;
    width: 60%;
    margin: auto;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    display:none;
}

#lightboxModal > div.lightbox-modal-overlay p.prompt-contents.active {
    display:block;
}

#lightboxModal > div.lightbox-modal-overlay.modal-open {
    opacity: 60%;
}
#lightboxModal > div.lightbox-modal-overlay:hover {
    opacity: 60%;
}



#lightboxModal > .modalControls {
    align-items: center;
    position: sticky;
    top:0;
}

#lightboxModal:hover > .modalControls > span {
    color: #fff;
    filter: drop-shadow(0 0 0.1px white)
    opacity: 1;
}

#lightboxModal > .modalControls > span {
    color: #fff;
    filter: drop-shadow(0 0 0.1px white)
    opacity: 0;
}

#lightboxModal > div.modal-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    overflow:auto;

}

#lightboxModal > #modalImage {
    position: absolute;
    top:0;
    left:0;
    /* hide scrollbars */

    
}

#lightboxModal  #modalImage.modalImageFullscreen {

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: static;
    height: 100%;
    width: 100%;
    

}

#lightboxModal > .modalControls>  span:hover {
    color: #fff;
    filter: drop-shadow(0 0 0.1px white)
    
}

#lightboxModal > .modalControls > span.modalZoom  {
    padding-top: 6px;
    display: flex;
    justify-content: space-around;
}

#lightboxModal > .modalControls > span.modalSave  {
    margin-left:3px;
    margin-bottom: 3px;
}

#lightboxModal > .modalControls > span.modalClose  {
    margin-left: inherit;
    text-align: right;
    font-size:3rem;
}

#lightboxModal > .modalControls > div.modal-counter  {
    margin-left: auto;
    font-family: "Source Sans Pro", ui-sans-serif, "system-ui", sans-serif;
    color: white;
    background-color: rgba(0,0,0,0.2);
    font-size: 0.8rem;
    font-weight: 500;
    mix-blend-mode:screen;
    padding: 0.3rem 0.75rem;
    border-radius: 1rem;
}

#lightboxModal > .modalControls > span.modal-save-message {
    background-color: rgba(0,0,0,0.2);
    color: white;
    width: auto;
    font-family:"Source Sans Pro", ui-sans-serif, "system-ui", sans-serif;
    font-size: .8rem;
    font-weight:500;
    padding: .3rem .75rem;
    border-radius: 1rem;
    mix-blend-mode:screen;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
}

#lightboxModal > a.modalPrev, a.modalNext {
    padding: 64px 32px 64px 32px;
    
}


#lightboxModal > a.modalPrev {
    border-radius: 0 8px 8px 0;
}


#lightboxModal > a.modalNext {
    border-radius: 8px 0 0  8px;
}


#img2img_gallery > div > .thumbnails {
    justify-content: start;
    overflow-x:scroll;
}

#txt2img_gallery > div > .thumbnails {
    justify-content: start;
    overflow-x:scroll;
}

#lightboxModal > div.lightbox-modal-overlay > div.modal-overlay-buttons-container {
    width: 100%;
}

div.modal-overlay-buttons-container > ul.modal-overlay-buttons-list {
    width: 60%;
    margin: auto;
    list-style: none;
    padding: 0;
    display: flex;
    justify-items: start;
    align-items: center;
    gap: 1.5rem;

}

ul.modal-overlay-buttons-list > li.modal-overlay-prompt-button {
    grid-column: span 1;
    color: #fff;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 3px 10px;
    cursor: pointer;

}

ul.modal-overlay-buttons-list > li.modal-overlay-prompt-button.active {
   color:#fff;
   font-weight:600;
   background-color:#161616;
   padding: 3px 10px;
   border-radius: 12px;


}

ul.modal-overlay-buttons-list > li.modal-overlay-prompt-button:hover {
    background-color: #111111;
    padding: 3px 10px;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    #lightboxModal > div.lightbox-modal-overlay p.prompt-contents {
        width: 100%;
    }

    #lightboxModal > div.lightbox-modal-overlay {
       
        font-size: 0.9rem;
    }
    div.modal-overlay-buttons-container > ul.modal-overlay-buttons-list {
        width: 100%;
    
    }
}